-- CreateTable
CREATE TABLE "ajustes" (
    "id_ajuste" SERIAL NOT NULL,
    "id_bodega" INTEGER NOT NULL,
    "aju_fechahora" DATE NOT NULL,
    "aju_descripcion" VARCHAR(150) NOT NULL,
    "aju_fecharesolucion" DATE,
    "aju_num_produc_" INTEGER NOT NULL,
    "usu_responsable" VARCHAR(150) NOT NULL,
    "aju_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_ajustes" PRIMARY KEY ("id_ajuste")
);

-- CreateTable
CREATE TABLE "asientos" (
    "id_asientocontable3" VARCHAR(150) NOT NULL,
    "asi_fechahora" DATE NOT NULL,
    "asi_descripcion" VARCHAR(150) NOT NULL,
    "asi_estadoasiento" VARCHAR(150) NOT NULL,
    "asi_total_debe" DECIMAL(7,2) NOT NULL,
    "asi_total_haber" DECIMAL(7,2) NOT NULL,
    "asi_userid" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_asientos" PRIMARY KEY ("id_asientocontable3")
);

-- CreateTable
CREATE TABLE "asistencia" (
    "id_asistencia" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "fecha_hora" DATE NOT NULL,
    "tipo_movimiento" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_asistencia" PRIMARY KEY ("id_asistencia")
);

-- CreateTable
CREATE TABLE "bodega" (
    "id_bodega" SERIAL NOT NULL,
    "bod_nombre_" VARCHAR(150) NOT NULL,
    "bod_ubicacion" VARCHAR(150) NOT NULL,
    "estado_bod" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_bodega" PRIMARY KEY ("id_bodega")
);

-- CreateTable
CREATE TABLE "cargo" (
    "id_cargo" SERIAL NOT NULL,
    "id_departamento" INTEGER NOT NULL,
    "car_nombre" VARCHAR(150) NOT NULL,
    "car_sueldobase" DECIMAL(9,3) NOT NULL,
    "car_feccreacion" DATE NOT NULL,

    CONSTRAINT "pk_cargo" PRIMARY KEY ("id_cargo")
);

-- CreateTable
CREATE TABLE "categoria" (
    "id_categoria" SERIAL NOT NULL,
    "cat_nombre" VARCHAR(150) NOT NULL,
    "cat_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_categoria" PRIMARY KEY ("id_categoria")
);

-- CreateTable
CREATE TABLE "categoria_cuenta" (
    "id_tipocuenta3" VARCHAR(150) NOT NULL,
    "cat_descripcion" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_categoria_cuenta" PRIMARY KEY ("id_tipocuenta3")
);

-- CreateTable
CREATE TABLE "ciudad" (
    "id_ciudad" SERIAL NOT NULL,
    "ciu_nombre" VARCHAR(150) NOT NULL,
    "ciu_abreviado" VARCHAR(150) NOT NULL,
    "ciu_estado" BOOLEAN NOT NULL,

    CONSTRAINT "pk_ciudad" PRIMARY KEY ("id_ciudad")
);

-- CreateTable
CREATE TABLE "clientes" (
    "id_cliente" SERIAL NOT NULL,
    "id_ciudad" INTEGER NOT NULL,
    "cli_nombre" VARCHAR(150) NOT NULL,
    "cli_ciruc" VARCHAR(150) NOT NULL,
    "cli_celular" VARCHAR(150) NOT NULL,
    "cli_telefono" VARCHAR(150) NOT NULL,
    "cli_correo" VARCHAR(150) NOT NULL,
    "cli_categoria" INTEGER NOT NULL,
    "cli_estado" BOOLEAN NOT NULL,

    CONSTRAINT "pk_clientes" PRIMARY KEY ("id_cliente")
);

-- CreateTable
CREATE TABLE "colores" (
    "id_color" SERIAL NOT NULL,
    "col_nombre" VARCHAR(150) NOT NULL,
    "col_familia" VARCHAR(150) NOT NULL,
    "col_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_colores" PRIMARY KEY ("id_color")
);

-- CreateTable
CREATE TABLE "compra" (
    "id_compra" SERIAL NOT NULL,
    "id_proveedor" INTEGER NOT NULL,
    "oc_fecha" DATE NOT NULL,
    "oc_fechaentrega" DATE,
    "oc_subtotal" DECIMAL(9,2) NOT NULL,
    "oc_iva" DECIMAL(2,0) NOT NULL,
    "oc_total" DECIMAL(9,2) NOT NULL,
    "oc_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_compra" PRIMARY KEY ("id_compra")
);

-- CreateTable
CREATE TABLE "contrato" (
    "id_contrato" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "id_cargo" INTEGER NOT NULL,
    "con_tipo" VARCHAR(150) NOT NULL,
    "con_sueldobase" DECIMAL(9,3) NOT NULL,
    "con_fechainicio" DATE NOT NULL,
    "con_fecha_fin" DATE,
    "con_mensualiza_d3" BOOLEAN NOT NULL,
    "con_mensualiza_d4" BOOLEAN NOT NULL,
    "con_mensualiza_fr" BOOLEAN NOT NULL,
    "con_estado" VARCHAR(150) NOT NULL,
    "con_empfechaingreso" DATE NOT NULL,

    CONSTRAINT "pk_contrato" PRIMARY KEY ("id_contrato")
);

-- CreateTable
CREATE TABLE "cuentas" (
    "id_codigocuenta3" VARCHAR(150) NOT NULL,
    "id_tipocuenta3" VARCHAR(150) NOT NULL,
    "cue_nombrecuenta" VARCHAR(150) NOT NULL,
    "cue_descripcion" VARCHAR(150) NOT NULL,
    "cue_tipocuenta" VARCHAR(150) NOT NULL,
    "cue_deb00" DECIMAL(10,2) NOT NULL,
    "cue_deb01" DECIMAL(10,2) NOT NULL,
    "cue_deb02" DECIMAL(10,2) NOT NULL,
    "cue_deb03" DECIMAL(10,2) NOT NULL,
    "cue_deb04" DECIMAL(10,2) NOT NULL,
    "cue_deb05" DECIMAL(10,2) NOT NULL,
    "cue_deb06" DECIMAL(10,2) NOT NULL,
    "cue_deb07" DECIMAL(10,2) NOT NULL,
    "cue_deb08" DECIMAL(10,2) NOT NULL,
    "cue_deb09" DECIMAL(10,2) NOT NULL,
    "cue_deb10" DECIMAL(10,2) NOT NULL,
    "cue_deb11" DECIMAL(10,2) NOT NULL,
    "cue_deb12" DECIMAL(10,2) NOT NULL,
    "cue_deb13" DECIMAL(10,2) NOT NULL,
    "cue_hab00" DECIMAL(10,2) NOT NULL,
    "cue_hab01" DECIMAL(10,2) NOT NULL,
    "cue_hab02" DECIMAL(10,2) NOT NULL,
    "cue_hab03" DECIMAL(10,2) NOT NULL,
    "cue_hab04" DECIMAL(10,2) NOT NULL,
    "cue_hab05" DECIMAL(10,2) NOT NULL,
    "cue_hab06" DECIMAL(10,2) NOT NULL,
    "cue_hab07" DECIMAL(10,2) NOT NULL,
    "cue_hab08" DECIMAL(10,2) NOT NULL,
    "cue_hab09" DECIMAL(10,2) NOT NULL,
    "cue_hab10" DECIMAL(10,2) NOT NULL,
    "cue_hab11" DECIMAL(10,2) NOT NULL,
    "cue_hab12" DECIMAL(10,2) NOT NULL,
    "cue_hab13" DECIMAL(10,2) NOT NULL,
    "cue_userid" VARCHAR(150) NOT NULL,
    "cue_estadocuenta" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_cuentas" PRIMARY KEY ("id_codigocuenta3")
);

-- CreateTable
CREATE TABLE "cuentasxasiento" (
    "id_codigocuenta3" VARCHAR(150) NOT NULL,
    "id_asientocontable3" VARCHAR(150) NOT NULL,
    "cxa_montodebe" DECIMAL(10,2) NOT NULL,
    "cxa_montohaber" DECIMAL(10,2) NOT NULL,
    "cxa_descripcion" VARCHAR(150) NOT NULL,
    "cxa_estadocxa" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_cuentasxasiento" PRIMARY KEY ("id_codigocuenta3","id_asientocontable3")
);

-- CreateTable
CREATE TABLE "cuotas" (
    "id_cuota" SERIAL NOT NULL,
    "id_documento" INTEGER,
    "cuo_numero" INTEGER NOT NULL,
    "cuo_monto" DECIMAL(10,2) NOT NULL,
    "cuo_pendiente" DECIMAL(10,2) NOT NULL,
    "cuo_fecha_pagado" DATE,
    "cuo_fecha_estimada" DATE NOT NULL,
    "cuo_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_cuotas" PRIMARY KEY ("id_cuota")
);

-- CreateTable
CREATE TABLE "departamento" (
    "id_departamento" SERIAL NOT NULL,
    "dep_nombre" VARCHAR(150) NOT NULL,
    "dep_estado" VARCHAR(150) NOT NULL,
    "dep_feccreacion" DATE NOT NULL,

    CONSTRAINT "pk_departamento" PRIMARY KEY ("id_departamento")
);

-- CreateTable
CREATE TABLE "dependientes" (
    "id_dependiente" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "dep_ceddoc" DECIMAL(10,0) NOT NULL,
    "dep_nom1" VARCHAR(150) NOT NULL,
    "dep_nom2" VARCHAR(150),
    "dep_ap1" VARCHAR(150) NOT NULL,
    "dep_ap2" VARCHAR(150) NOT NULL,
    "dep_fechanacimiento" DATE NOT NULL,
    "dep_sexo" VARCHAR(150) NOT NULL,
    "dep_parentesco" VARCHAR(150) NOT NULL,
    "dep_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_dependientes" PRIMARY KEY ("id_dependiente")
);

-- CreateTable
CREATE TABLE "detallehorario" (
    "id_detalle" SERIAL NOT NULL,
    "id_horario" INTEGER NOT NULL,
    "det_dia_semana" VARCHAR(150),
    "det_hora_entrada" DATE,
    "det_hora_salida" DATE,

    CONSTRAINT "pk_detallehorario" PRIMARY KEY ("id_detalle")
);

-- CreateTable
CREATE TABLE "devoluciones_compra" (
    "id_devcompra_pk" SERIAL NOT NULL,
    "id_compra" INTEGER NOT NULL,
    "id_bodega" INTEGER NOT NULL,
    "devc_fechahora" DATE NOT NULL,
    "devc_motivo" VARCHAR(150) NOT NULL,
    "devc_num_produc" INTEGER NOT NULL,
    "devc_fecharesolucion" DATE,
    "usu_responsable" VARCHAR(150) NOT NULL,
    "devc_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_devoluciones_compra" PRIMARY KEY ("id_devcompra_pk")
);

-- CreateTable
CREATE TABLE "devoluciones_ventas" (
    "id_devolucion" SERIAL NOT NULL,
    "id_bodega" INTEGER NOT NULL,
    "id_documento" INTEGER NOT NULL,
    "dev_fechahora" DATE NOT NULL,
    "dev_motivo" VARCHAR(150) NOT NULL,
    "dev_num_produc" INTEGER NOT NULL,
    "dev_fecharesolucion" DATE,
    "usu_responsable" VARCHAR(150) NOT NULL,
    "estado_dev" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_devoluciones_ventas" PRIMARY KEY ("id_devolucion")
);

-- CreateTable
CREATE TABLE "direcciones" (
    "id_direccion" SERIAL NOT NULL,
    "id_ciudad" INTEGER NOT NULL,
    "id_cliente" INTEGER NOT NULL,
    "dir_sector" VARCHAR(150) NOT NULL,
    "dir_principal" VARCHAR(150) NOT NULL,
    "dir_secundaria" VARCHAR(150),
    "dir_referencia" VARCHAR(150) NOT NULL,
    "dir_estado" BOOLEAN NOT NULL,

    CONSTRAINT "pk_direcciones" PRIMARY KEY ("id_direccion")
);

-- CreateTable
CREATE TABLE "documentos" (
    "id_documento" SERIAL NOT NULL,
    "id_cliente" INTEGER NOT NULL,
    "doc_id_documento" INTEGER,
    "id_vendedor" INTEGER NOT NULL,
    "doc_tipo" VARCHAR(150) NOT NULL,
    "doc_emision" DATE NOT NULL,
    "doc_pago" DATE,
    "doc_descripcion" VARCHAR(150) NOT NULL,
    "doc_subtotal" DECIMAL(12,4) NOT NULL,
    "doc_iva" DECIMAL(12,4) NOT NULL,
    "doc_descuento" DECIMAL(12,4) NOT NULL,
    "doc_total" DECIMAL(12,4) NOT NULL,
    "doc_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_documentos" PRIMARY KEY ("id_documento")
);

-- CreateTable
CREATE TABLE "documentoxpago" (
    "id_documento" INTEGER NOT NULL,
    "id_metodopago" INTEGER NOT NULL,
    "dxp_monto_aboonado" DECIMAL(10,2) NOT NULL,
    "dxp_referencia" VARCHAR(150),
    "dxp_mesesplazo" INTEGER,

    CONSTRAINT "pk_documentoxpago" PRIMARY KEY ("id_documento","id_metodopago")
);

-- CreateTable
CREATE TABLE "empleados" (
    "id_empleado" SERIAL NOT NULL,
    "emp_cedula" VARCHAR(150) NOT NULL,
    "emp_nom1" VARCHAR(150) NOT NULL,
    "emp_nom2" VARCHAR(150),
    "emp_ap1" VARCHAR(150) NOT NULL,
    "emp_ap2" VARCHAR(150),
    "emp_sexo" VARCHAR(150) NOT NULL,
    "emp_fechanacimiento" DATE NOT NULL,
    "emp_email" VARCHAR(150) NOT NULL,
    "emp_direccion" VARCHAR(150) NOT NULL,
    "emp_telefono" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_empleados" PRIMARY KEY ("id_empleado")
);

-- CreateTable
CREATE TABLE "entregas" (
    "id_entrega" SERIAL NOT NULL,
    "id_documento" INTEGER NOT NULL,
    "id_bodega" INTEGER NOT NULL,
    "ent_fechahora_" DATE NOT NULL,
    "ent_descripcion" VARCHAR(150) NOT NULL,
    "ent_num_produc" INTEGER NOT NULL,
    "ent_fecharesolucion_" DATE,
    "usu_responsable" VARCHAR(150) NOT NULL,
    "ent_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_entregas" PRIMARY KEY ("id_entrega")
);

-- CreateTable
CREATE TABLE "horario" (
    "id_horario" SERIAL NOT NULL,
    "hor_nombre_horario" VARCHAR(150) NOT NULL,
    "hor_horastotal" INTEGER NOT NULL,

    CONSTRAINT "pk_horario" PRIMARY KEY ("id_horario")
);

-- CreateTable
CREATE TABLE "horarioxempleado" (
    "id_horario" INTEGER NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "fecha_inicio_asignacion" DATE NOT NULL,
    "fecha_fin_asignacion" DATE,

    CONSTRAINT "pk_horarioxempleado" PRIMARY KEY ("id_horario","id_empleado")
);

-- CreateTable
CREATE TABLE "interacciones" (
    "id_interaccion" SERIAL NOT NULL,
    "id_cliente" INTEGER NOT NULL,
    "id_documento" INTEGER NOT NULL,
    "int_tipo" VARCHAR(150) NOT NULL,
    "int_canal" VARCHAR(150) NOT NULL,
    "int_inconveniente" VARCHAR(150) NOT NULL,
    "int_apertura" DATE NOT NULL,
    "int_cierre" DATE,
    "int_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_interacciones" PRIMARY KEY ("id_interaccion")
);

-- CreateTable
CREATE TABLE "inventario_bodegas" (
    "id_bodega" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "inv_periodo" VARCHAR(150) NOT NULL,
    "inv_saldo_inicial" INTEGER NOT NULL,
    "inv_qty_ingresos" INTEGER NOT NULL,
    "inv_qty_egresos" INTEGER NOT NULL,
    "inv_qty_ajustes" INTEGER NOT NULL,
    "inv_saldo_final" INTEGER NOT NULL,

    CONSTRAINT "pk_inventario_bodegas" PRIMARY KEY ("id_bodega","id_variante","inv_periodo")
);

-- CreateTable
CREATE TABLE "logistica" (
    "id_logistica" SERIAL NOT NULL,
    "id_direccion" INTEGER NOT NULL,
    "id_documento" INTEGER NOT NULL,
    "log_despacho" DATE NOT NULL,
    "log_estimada" DATE NOT NULL,
    "log_real" DATE,
    "log_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_logistica" PRIMARY KEY ("id_logistica")
);

-- CreateTable
CREATE TABLE "marcas" (
    "id_marca" SERIAL NOT NULL,
    "mar_nombre" VARCHAR(150) NOT NULL,
    "mar_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_marcas" PRIMARY KEY ("id_marca")
);

-- CreateTable
CREATE TABLE "materiales" (
    "id_material" SERIAL NOT NULL,
    "mat_nombre" VARCHAR(150) NOT NULL,
    "mat_cuidados" VARCHAR(150) NOT NULL,
    "mat_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_materiales" PRIMARY KEY ("id_material")
);

-- CreateTable
CREATE TABLE "meta" (
    "id_meta" SERIAL NOT NULL,
    "id_rolpago2" VARCHAR(150),
    "id_contrato" INTEGER,
    "met_objetivo" DECIMAL(9,3) NOT NULL,
    "met_alcanzo" DECIMAL(9,3) NOT NULL,
    "met_porcentaje" DECIMAL(5,3) NOT NULL,
    "met_estado" VARCHAR(150) NOT NULL,
    "met_observacion" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_meta" PRIMARY KEY ("id_meta")
);

-- CreateTable
CREATE TABLE "metodospago" (
    "id_metodopago" SERIAL NOT NULL,
    "mpg_nombre" VARCHAR(150) NOT NULL,
    "mpg_diferido" BOOLEAN NOT NULL,
    "mpg_plazos" INTEGER,
    "mpg_estado" BOOLEAN NOT NULL,
    "mpg_numero_referencia" BOOLEAN,

    CONSTRAINT "pk_metodospago" PRIMARY KEY ("id_metodopago")
);

-- CreateTable
CREATE TABLE "percha" (
    "id_percha" SERIAL NOT NULL,
    "id_bodega" INTEGER NOT NULL,
    "per_nivel" VARCHAR(150) NOT NULL,
    "per_capacidad" INTEGER NOT NULL,
    "per_descripcion" VARCHAR(150) NOT NULL,
    "per_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_percha" PRIMARY KEY ("id_percha")
);

-- CreateTable
CREATE TABLE "periodo" (
    "id_rolpago2" VARCHAR(150) NOT NULL,
    "per_descripcion" VARCHAR(150) NOT NULL,
    "per_fechainicio" DATE NOT NULL,
    "per_fechafin" DATE NOT NULL,
    "per_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_periodo" PRIMARY KEY ("id_rolpago2")
);

-- CreateTable
CREATE TABLE "permisos" (
    "id_permiso" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "per_fecha_inicio" DATE NOT NULL,
    "per_fecha_fin" DATE NOT NULL,
    "per_estado" VARCHAR(150) NOT NULL,
    "per_observacion" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_permisos" PRIMARY KEY ("id_permiso")
);

-- CreateTable
CREATE TABLE "productos" (
    "id_producto" SERIAL NOT NULL,
    "id_marca" INTEGER,
    "id_temporada" INTEGER,
    "id_unidadmedida" INTEGER,
    "id_categoria" INTEGER,
    "uni_id_unidadmedida" INTEGER,
    "id_material" INTEGER,
    "pro_descripcion" VARCHAR(150) NOT NULL,
    "pro_factor_conversion_" INTEGER NOT NULL,
    "pro_valor_compra" DECIMAL(7,3) NOT NULL,
    "pro_genero_" VARCHAR(150) NOT NULL,
    "pro_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_productos" PRIMARY KEY ("id_producto")
);

-- CreateTable
CREATE TABLE "productosxdocumento" (
    "id_documento" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "pxd_cantidad" INTEGER NOT NULL,
    "pxd_valor_unitario" DECIMAL(10,2) NOT NULL,
    "pxd_valor_subtotal" DECIMAL(10,2) NOT NULL,
    "pxd_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_productosxdocumento" PRIMARY KEY ("id_documento","id_variante")
);

-- CreateTable
CREATE TABLE "productosxlogistica" (
    "id_logistica" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "pxl_cantidad" INTEGER NOT NULL,
    "pxl_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_productosxlogistica" PRIMARY KEY ("id_logistica","id_variante")
);

-- CreateTable
CREATE TABLE "proveedor" (
    "id_proveedor" SERIAL NOT NULL,
    "id_ciudad" INTEGER NOT NULL,
    "prv_nombre" VARCHAR(150) NOT NULL,
    "prv_ciruc" VARCHAR(150) NOT NULL,
    "prv_telefono" VARCHAR(150) NOT NULL,
    "prv_mail" VARCHAR(150) NOT NULL,
    "prv_celular" VARCHAR(150) NOT NULL,
    "prv_direccion" VARCHAR(150) NOT NULL,
    "prv_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proveedor" PRIMARY KEY ("id_proveedor")
);

-- CreateTable
CREATE TABLE "proxaju" (
    "id_variante" INTEGER NOT NULL,
    "id_ajuste" INTEGER NOT NULL,
    "pxa_stock_sistema" INTEGER NOT NULL,
    "pxa_stock_fisico_real" INTEGER NOT NULL,
    "pxa_qty_ajustada" INTEGER NOT NULL,
    "pxa_tipo_ajuste" VARCHAR(150) NOT NULL,
    "pxa_motivo_ajuste" VARCHAR(150) NOT NULL,
    "pxa_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proxaju" PRIMARY KEY ("id_variante","id_ajuste")
);

-- CreateTable
CREATE TABLE "proxdevc" (
    "id_variante" INTEGER NOT NULL,
    "id_devcompra_pk" INTEGER NOT NULL,
    "pxdc_cantidad_recibida" INTEGER NOT NULL,
    "pxdc_cantidad_devuelta" INTEGER NOT NULL,
    "pxdc_diferencia" INTEGER NOT NULL,
    "pxdc_motivo" VARCHAR(150),
    "pxdc_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proxdevc" PRIMARY KEY ("id_variante","id_devcompra_pk")
);

-- CreateTable
CREATE TABLE "proxdeven" (
    "id_devolucion" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "pxdv_cantidad_facturada" INTEGER NOT NULL,
    "pxdv_cantidad_devuelta" INTEGER NOT NULL,
    "pxdv_diferencia" INTEGER NOT NULL,
    "pxd_motivo_diferencia" VARCHAR(150),
    "pxdv_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proxdeven" PRIMARY KEY ("id_devolucion","id_variante")
);

-- CreateTable
CREATE TABLE "proxent" (
    "id_variante" INTEGER NOT NULL,
    "id_entrega" INTEGER NOT NULL,
    "pxe_cantidad_facturada" INTEGER NOT NULL,
    "pxe_qty_entregada" INTEGER NOT NULL,
    "pxe_diferencia" INTEGER,
    "pxe_motivo_diferencia" VARCHAR(150),
    "pxe_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proxent" PRIMARY KEY ("id_variante","id_entrega")
);

-- CreateTable
CREATE TABLE "proxoc" (
    "id_compra" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "pxo_cantidad" INTEGER NOT NULL,
    "pxo_valor" DECIMAL(9,2) NOT NULL,
    "pxo_subtotal" DECIMAL(9,2) NOT NULL,
    "pxo_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proxoc" PRIMARY KEY ("id_compra","id_variante")
);

-- CreateTable
CREATE TABLE "proxrec" (
    "id_recepcion" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "pxr_cantidad_solicitada" INTEGER NOT NULL,
    "pxr_qty_recibida" INTEGER NOT NULL,
    "pxr_diferencia" INTEGER NOT NULL,
    "pxr_motivo_diferencia" VARCHAR(150),
    "pxr_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_proxrec" PRIMARY KEY ("id_recepcion","id_variante")
);

-- CreateTable
CREATE TABLE "recepciones" (
    "id_recepcion" SERIAL NOT NULL,
    "id_compra" INTEGER NOT NULL,
    "id_bodega" INTEGER NOT NULL,
    "rec_descripcion" VARCHAR(150) NOT NULL,
    "rec_fechahora" DATE NOT NULL,
    "rec_num_productos" INTEGER NOT NULL,
    "rec_fecharesolucion" DATE,
    "usu_responsable" VARCHAR(150) NOT NULL,
    "rec_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_recepciones" PRIMARY KEY ("id_recepcion")
);

-- CreateTable
CREATE TABLE "rolpagos" (
    "id_rol" SERIAL NOT NULL,
    "id_rolpago2" VARCHAR(150) NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "rol_destotal" DECIMAL(9,3) NOT NULL,
    "rol_bontotal" DECIMAL(9,3) NOT NULL,
    "rol_neto" DECIMAL(9,3) NOT NULL,
    "rol_estado" VARCHAR(150) NOT NULL,
    "rol_dias_trabajados" INTEGER NOT NULL,
    "rol_comtotal" DECIMAL(9,3) NOT NULL,

    CONSTRAINT "pk_rolpagos" PRIMARY KEY ("id_rol")
);

-- CreateTable
CREATE TABLE "rubros" (
    "id_rubros" SERIAL NOT NULL,
    "rub_descripcion" VARCHAR(150) NOT NULL,
    "rub_estado" VARCHAR(150) NOT NULL,
    "rub_tipo" BOOLEAN NOT NULL,
    "rub_calculable" BOOLEAN NOT NULL,

    CONSTRAINT "pk_rubros" PRIMARY KEY ("id_rubros")
);

-- CreateTable
CREATE TABLE "rubrosxrol" (
    "id_rol" INTEGER NOT NULL,
    "id_rubros" INTEGER NOT NULL,
    "dxe_cantidad" DECIMAL(9,3) NOT NULL,
    "dxe_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_rubrosxrol" PRIMARY KEY ("id_rol","id_rubros")
);

-- CreateTable
CREATE TABLE "tallas" (
    "id_talla" SERIAL NOT NULL,
    "tal_codigo" VARCHAR(150) NOT NULL,
    "tal_descripcion" VARCHAR(150) NOT NULL,
    "tal_sistema" VARCHAR(150) NOT NULL,
    "tal_orden" INTEGER NOT NULL,
    "tal_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_tallas" PRIMARY KEY ("id_talla")
);

-- CreateTable
CREATE TABLE "temporadas" (
    "id_temporada" SERIAL NOT NULL,
    "tem_nombre" VARCHAR(150) NOT NULL,
    "tem_fecha_inicio" DATE NOT NULL,
    "tem_fecha_fin" DATE NOT NULL,
    "tem_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_temporadas" PRIMARY KEY ("id_temporada")
);

-- CreateTable
CREATE TABLE "ubicacion_producto" (
    "id_percha" INTEGER NOT NULL,
    "id_variante" INTEGER NOT NULL,
    "ubi_fecha_desde" DATE NOT NULL,
    "ubi_fecha_hasta" DATE,
    "ubi_observacion" VARCHAR(150),
    "ubi_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_ubicacion_producto" PRIMARY KEY ("id_percha","id_variante")
);

-- CreateTable
CREATE TABLE "unidad_medida" (
    "id_unidadmedida" SERIAL NOT NULL,
    "umd_abreviado" VARCHAR(150) NOT NULL,
    "umd_descripcion" VARCHAR(150) NOT NULL,
    "um_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_unidad_medida" PRIMARY KEY ("id_unidadmedida")
);

-- CreateTable
CREATE TABLE "usuarios" (
    "id_usuario" SERIAL NOT NULL,
    "id_empleado" INTEGER,
    "usu_nombre" VARCHAR(150) NOT NULL,
    "usu_clave" VARCHAR(150) NOT NULL,
    "usu_nombrereal" VARCHAR(150) NOT NULL,
    "usu_rol" VARCHAR(150) NOT NULL,
    "usu_estado_" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_usuarios" PRIMARY KEY ("id_usuario")
);

-- CreateTable
CREATE TABLE "vacaciones" (
    "id_vacacion" SERIAL NOT NULL,
    "id_contrato" INTEGER NOT NULL,
    "vac_periodo" VARCHAR(150) NOT NULL,
    "vac_diasg" INTEGER NOT NULL,
    "vac_diasp" INTEGER NOT NULL,
    "vac_saldo" INTEGER NOT NULL,

    CONSTRAINT "pk_vacaciones" PRIMARY KEY ("id_vacacion")
);

-- CreateTable
CREATE TABLE "variantes_producto" (
    "id_variante" SERIAL NOT NULL,
    "id_producto" INTEGER NOT NULL,
    "id_color" INTEGER NOT NULL,
    "id_talla" INTEGER NOT NULL,
    "var_cod_barras" VARCHAR(150) NOT NULL,
    "var_precio_venta" DECIMAL(7,3) NOT NULL,
    "var_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_variantes_producto" PRIMARY KEY ("id_variante")
);

-- CreateTable
CREATE TABLE "vendedores" (
    "id_vendedor" SERIAL NOT NULL,
    "id_empleado" INTEGER NOT NULL,
    "ven_comision" DECIMAL(2,1) NOT NULL,
    "ven_meta" INTEGER NOT NULL,
    "ven_estado" VARCHAR(150) NOT NULL,

    CONSTRAINT "pk_vendedores" PRIMARY KEY ("id_vendedor")
);

-- CreateIndex
CREATE INDEX "ajsuta_en_fk" ON "ajustes"("id_bodega");

-- CreateIndex
CREATE INDEX "hay_fk" ON "asistencia"("id_empleado");

-- CreateIndex
CREATE INDEX "contiene_fk" ON "cargo"("id_departamento");

-- CreateIndex
CREATE INDEX "pertenece3_fk" ON "clientes"("id_ciudad");

-- CreateIndex
CREATE INDEX "genera_fk" ON "compra"("id_proveedor");

-- CreateIndex
CREATE INDEX "pertenece_fk" ON "contrato"("id_cargo");

-- CreateIndex
CREATE INDEX "tiene_fk" ON "contrato"("id_empleado");

-- CreateIndex
CREATE INDEX "dispone_fk" ON "cuentas"("id_tipocuenta3");

-- CreateIndex
CREATE INDEX "cuentasxasiento2_fk" ON "cuentasxasiento"("id_asientocontable3");

-- CreateIndex
CREATE INDEX "cuentasxasiento_fk" ON "cuentasxasiento"("id_codigocuenta3");

-- CreateIndex
CREATE INDEX "generan_fk" ON "cuotas"("id_documento");

-- CreateIndex
CREATE INDEX "mantiene2_fk" ON "dependientes"("id_empleado");

-- CreateIndex
CREATE INDEX "tien_fk" ON "detallehorario"("id_horario");

-- CreateIndex
CREATE INDEX "crea_fk" ON "devoluciones_compra"("id_compra");

-- CreateIndex
CREATE INDEX "maneja_fk" ON "devoluciones_compra"("id_bodega");

-- CreateIndex
CREATE INDEX "asocia_fk" ON "devoluciones_ventas"("id_documento");

-- CreateIndex
CREATE INDEX "sufre_fk" ON "devoluciones_ventas"("id_bodega");

-- CreateIndex
CREATE INDEX "radica_fk" ON "direcciones"("id_ciudad");

-- CreateIndex
CREATE INDEX "reside_fk" ON "direcciones"("id_cliente");

-- CreateIndex
CREATE INDEX "crea2_fk" ON "documentos"("id_vendedor");

-- CreateIndex
CREATE INDEX "refiere_fk" ON "documentos"("doc_id_documento");

-- CreateIndex
CREATE INDEX "registra_fk" ON "documentos"("id_cliente");

-- CreateIndex
CREATE INDEX "documentoxpago2_fk" ON "documentoxpago"("id_metodopago");

-- CreateIndex
CREATE INDEX "documentoxpago_fk" ON "documentoxpago"("id_documento");

-- CreateIndex
CREATE INDEX "entrega_en_fk" ON "entregas"("id_bodega");

-- CreateIndex
CREATE INDEX "gestiona_fk" ON "entregas"("id_documento");

-- CreateIndex
CREATE INDEX "horarioxempleado2_fk" ON "horarioxempleado"("id_empleado");

-- CreateIndex
CREATE INDEX "horarioxempleado_fk" ON "horarioxempleado"("id_horario");

-- CreateIndex
CREATE INDEX "realiza_fk" ON "interacciones"("id_cliente");

-- CreateIndex
CREATE INDEX "referencia_fk" ON "interacciones"("id_documento");

-- CreateIndex
CREATE INDEX "inventario_bodegas2_fk" ON "inventario_bodegas"("id_bodega");

-- CreateIndex
CREATE INDEX "inventario_bodegas_fk" ON "inventario_bodegas"("id_variante");

-- CreateIndex
CREATE INDEX "despacha_fk" ON "logistica"("id_direccion");

-- CreateIndex
CREATE INDEX "entrega_fk" ON "logistica"("id_documento");

-- CreateIndex
CREATE INDEX "relationship_12_fk" ON "meta"("id_contrato");

-- CreateIndex
CREATE INDEX "relationship_13_fk" ON "meta"("id_rolpago2");

-- CreateIndex
CREATE INDEX "tener_fk" ON "percha"("id_bodega");

-- CreateIndex
CREATE INDEX "cont_fk" ON "permisos"("id_empleado");

-- CreateIndex
CREATE INDEX "emple_fk" ON "productos"("id_unidadmedida");

-- CreateIndex
CREATE INDEX "emplea_fk" ON "productos"("uni_id_unidadmedida");

-- CreateIndex
CREATE INDEX "pertenece2_fk" ON "productos"("id_categoria");

-- CreateIndex
CREATE INDEX "relationship_25_fk" ON "productos"("id_material");

-- CreateIndex
CREATE INDEX "relationship_28_fk" ON "productos"("id_marca");

-- CreateIndex
CREATE INDEX "relationship_29_fk" ON "productos"("id_temporada");

-- CreateIndex
CREATE INDEX "productosxdocumento_fk" ON "productosxdocumento"("id_documento");

-- CreateIndex
CREATE INDEX "ref_productos_doc_3_fk" ON "productosxdocumento"("id_variante");

-- CreateIndex
CREATE INDEX "productosxlogistica_fk" ON "productosxlogistica"("id_logistica");

-- CreateIndex
CREATE INDEX "ref_productos_log_3_fk" ON "productosxlogistica"("id_variante");

-- CreateIndex
CREATE INDEX "relationship_47_fk" ON "proveedor"("id_ciudad");

-- CreateIndex
CREATE INDEX "productosxajuste2_fk" ON "proxaju"("id_ajuste");

-- CreateIndex
CREATE INDEX "productosxajuste_fk" ON "proxaju"("id_variante");

-- CreateIndex
CREATE INDEX "proxdevc2_fk" ON "proxdevc"("id_devcompra_pk");

-- CreateIndex
CREATE INDEX "proxdevc_fk" ON "proxdevc"("id_variante");

-- CreateIndex
CREATE INDEX "proxdeven2_fk" ON "proxdeven"("id_variante");

-- CreateIndex
CREATE INDEX "proxdeven_fk" ON "proxdeven"("id_devolucion");

-- CreateIndex
CREATE INDEX "productosentrega2_fk" ON "proxent"("id_entrega");

-- CreateIndex
CREATE INDEX "productosentrega_fk" ON "proxent"("id_variante");

-- CreateIndex
CREATE INDEX "proxoc2_fk" ON "proxoc"("id_variante");

-- CreateIndex
CREATE INDEX "proxoc_fk" ON "proxoc"("id_compra");

-- CreateIndex
CREATE INDEX "proxrec2_fk" ON "proxrec"("id_variante");

-- CreateIndex
CREATE INDEX "proxrec_fk" ON "proxrec"("id_recepcion");

-- CreateIndex
CREATE INDEX "procesa_fk" ON "recepciones"("id_compra");

-- CreateIndex
CREATE INDEX "recepta_en_fk" ON "recepciones"("id_bodega");

-- CreateIndex
CREATE INDEX "esta_fk" ON "rolpagos"("id_rolpago2");

-- CreateIndex
CREATE INDEX "obtiene_fk" ON "rolpagos"("id_empleado");

-- CreateIndex
CREATE INDEX "rubrosxrol2_fk" ON "rubrosxrol"("id_rubros");

-- CreateIndex
CREATE INDEX "rubrosxrol_fk" ON "rubrosxrol"("id_rol");

-- CreateIndex
CREATE INDEX "ubicacion_producto2_fk" ON "ubicacion_producto"("id_variante");

-- CreateIndex
CREATE INDEX "ubicacion_producto_fk" ON "ubicacion_producto"("id_percha");

-- CreateIndex
CREATE INDEX "asociar2_fk" ON "usuarios"("id_empleado");

-- CreateIndex
CREATE INDEX "goza_fk" ON "vacaciones"("id_contrato");

-- CreateIndex
CREATE INDEX "relationship_24_fk" ON "variantes_producto"("id_producto");

-- CreateIndex
CREATE INDEX "relationship_26_fk" ON "variantes_producto"("id_talla");

-- CreateIndex
CREATE INDEX "relationship_27_fk" ON "variantes_producto"("id_color");

-- CreateIndex
CREATE INDEX "es_fk" ON "vendedores"("id_empleado");

-- AddForeignKey
ALTER TABLE "ajustes" ADD CONSTRAINT "fk_ajustes_ajsuta_en_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "asistencia" ADD CONSTRAINT "fk_asistenc_hay_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cargo" ADD CONSTRAINT "fk_cargo_contiene_departam" FOREIGN KEY ("id_departamento") REFERENCES "departamento"("id_departamento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "clientes" ADD CONSTRAINT "fk_clientes_pertenece_ciudad" FOREIGN KEY ("id_ciudad") REFERENCES "ciudad"("id_ciudad") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "compra" ADD CONSTRAINT "fk_compra_genera_proveedo" FOREIGN KEY ("id_proveedor") REFERENCES "proveedor"("id_proveedor") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "contrato" ADD CONSTRAINT "fk_contrato_pertenece_cargo" FOREIGN KEY ("id_cargo") REFERENCES "cargo"("id_cargo") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "contrato" ADD CONSTRAINT "fk_contrato_tiene_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cuentas" ADD CONSTRAINT "fk_cuentas_dispone_categori" FOREIGN KEY ("id_tipocuenta3") REFERENCES "categoria_cuenta"("id_tipocuenta3") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cuentasxasiento" ADD CONSTRAINT "fk_cuentasx_cuentasxa_asientos" FOREIGN KEY ("id_asientocontable3") REFERENCES "asientos"("id_asientocontable3") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cuentasxasiento" ADD CONSTRAINT "fk_cuentasx_cuentasxa_cuentas" FOREIGN KEY ("id_codigocuenta3") REFERENCES "cuentas"("id_codigocuenta3") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cuotas" ADD CONSTRAINT "fk_cuotas_generan_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "dependientes" ADD CONSTRAINT "fk_dependie_mantiene2_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detallehorario" ADD CONSTRAINT "fk_detalleh_tien_horario" FOREIGN KEY ("id_horario") REFERENCES "horario"("id_horario") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "devoluciones_compra" ADD CONSTRAINT "fk_devoluci_crea_compra" FOREIGN KEY ("id_compra") REFERENCES "compra"("id_compra") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "devoluciones_compra" ADD CONSTRAINT "fk_devoluci_maneja_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "devoluciones_ventas" ADD CONSTRAINT "fk_devoluci_asocia_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "devoluciones_ventas" ADD CONSTRAINT "fk_devoluci_sufre_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "direcciones" ADD CONSTRAINT "fk_direccio_radica_ciudad" FOREIGN KEY ("id_ciudad") REFERENCES "ciudad"("id_ciudad") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "direcciones" ADD CONSTRAINT "fk_direccio_reside_clientes" FOREIGN KEY ("id_cliente") REFERENCES "clientes"("id_cliente") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "documentos" ADD CONSTRAINT "fk_document_crea2_vendedor" FOREIGN KEY ("id_vendedor") REFERENCES "vendedores"("id_vendedor") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "documentos" ADD CONSTRAINT "fk_document_refiere_document" FOREIGN KEY ("doc_id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "documentos" ADD CONSTRAINT "fk_document_registra_clientes" FOREIGN KEY ("id_cliente") REFERENCES "clientes"("id_cliente") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "documentoxpago" ADD CONSTRAINT "fk_document_documento_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "documentoxpago" ADD CONSTRAINT "fk_document_documento_metodosp" FOREIGN KEY ("id_metodopago") REFERENCES "metodospago"("id_metodopago") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "entregas" ADD CONSTRAINT "fk_entregas_entrega_e_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "entregas" ADD CONSTRAINT "fk_entregas_gestiona_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "horarioxempleado" ADD CONSTRAINT "fk_horariox_horarioxe_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "horarioxempleado" ADD CONSTRAINT "fk_horariox_horarioxe_horario" FOREIGN KEY ("id_horario") REFERENCES "horario"("id_horario") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "interacciones" ADD CONSTRAINT "fk_interacc_realiza_clientes" FOREIGN KEY ("id_cliente") REFERENCES "clientes"("id_cliente") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "interacciones" ADD CONSTRAINT "fk_interacc_referenci_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "inventario_bodegas" ADD CONSTRAINT "fk_inventar_inventari_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "inventario_bodegas" ADD CONSTRAINT "fk_inventar_inventari_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "logistica" ADD CONSTRAINT "fk_logistic_despacha_direccio" FOREIGN KEY ("id_direccion") REFERENCES "direcciones"("id_direccion") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "logistica" ADD CONSTRAINT "fk_logistic_entrega_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "meta" ADD CONSTRAINT "fk_meta_relations_contrato" FOREIGN KEY ("id_contrato") REFERENCES "contrato"("id_contrato") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "meta" ADD CONSTRAINT "fk_meta_relations_periodo" FOREIGN KEY ("id_rolpago2") REFERENCES "periodo"("id_rolpago2") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "percha" ADD CONSTRAINT "fk_percha_tener_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "permisos" ADD CONSTRAINT "fk_permisos_cont_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "fk_producto_emple_unidad_m" FOREIGN KEY ("id_unidadmedida") REFERENCES "unidad_medida"("id_unidadmedida") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "fk_producto_emplea_unidad_m" FOREIGN KEY ("uni_id_unidadmedida") REFERENCES "unidad_medida"("id_unidadmedida") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "fk_producto_pertenece_categori" FOREIGN KEY ("id_categoria") REFERENCES "categoria"("id_categoria") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "fk_producto_relations_marcas" FOREIGN KEY ("id_marca") REFERENCES "marcas"("id_marca") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "fk_producto_relations_material" FOREIGN KEY ("id_material") REFERENCES "materiales"("id_material") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "fk_producto_relations_temporad" FOREIGN KEY ("id_temporada") REFERENCES "temporadas"("id_temporada") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productosxdocumento" ADD CONSTRAINT "fk_producto_productos_document" FOREIGN KEY ("id_documento") REFERENCES "documentos"("id_documento") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productosxdocumento" ADD CONSTRAINT "fk_producto_ref_produ_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productosxlogistica" ADD CONSTRAINT "fk_producto_productos_logistic" FOREIGN KEY ("id_logistica") REFERENCES "logistica"("id_logistica") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "productosxlogistica" ADD CONSTRAINT "fk_producto_ref_produ_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proveedor" ADD CONSTRAINT "fk_proveedo_relations_ciudad" FOREIGN KEY ("id_ciudad") REFERENCES "ciudad"("id_ciudad") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxaju" ADD CONSTRAINT "fk_proxaju_productos_ajustes" FOREIGN KEY ("id_ajuste") REFERENCES "ajustes"("id_ajuste") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxaju" ADD CONSTRAINT "fk_proxaju_productos_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxdevc" ADD CONSTRAINT "fk_proxdevc_proxdevc2_devoluci" FOREIGN KEY ("id_devcompra_pk") REFERENCES "devoluciones_compra"("id_devcompra_pk") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxdevc" ADD CONSTRAINT "fk_proxdevc_proxdevc_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxdeven" ADD CONSTRAINT "fk_proxdeve_proxdeven_devoluci" FOREIGN KEY ("id_devolucion") REFERENCES "devoluciones_ventas"("id_devolucion") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxdeven" ADD CONSTRAINT "fk_proxdeve_proxdeven_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxent" ADD CONSTRAINT "fk_proxent_productos_entregas" FOREIGN KEY ("id_entrega") REFERENCES "entregas"("id_entrega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxent" ADD CONSTRAINT "fk_proxent_productos_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxoc" ADD CONSTRAINT "fk_proxoc_proxoc2_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxoc" ADD CONSTRAINT "fk_proxoc_proxoc_compra" FOREIGN KEY ("id_compra") REFERENCES "compra"("id_compra") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxrec" ADD CONSTRAINT "fk_proxrec_proxrec2_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "proxrec" ADD CONSTRAINT "fk_proxrec_proxrec_recepcio" FOREIGN KEY ("id_recepcion") REFERENCES "recepciones"("id_recepcion") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "recepciones" ADD CONSTRAINT "fk_recepcio_procesa_compra" FOREIGN KEY ("id_compra") REFERENCES "compra"("id_compra") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "recepciones" ADD CONSTRAINT "fk_recepcio_recepta_e_bodega" FOREIGN KEY ("id_bodega") REFERENCES "bodega"("id_bodega") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "rolpagos" ADD CONSTRAINT "fk_rolpagos_esta_periodo" FOREIGN KEY ("id_rolpago2") REFERENCES "periodo"("id_rolpago2") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "rolpagos" ADD CONSTRAINT "fk_rolpagos_obtiene_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "rubrosxrol" ADD CONSTRAINT "fk_rubrosxr_rubrosxro_rolpagos" FOREIGN KEY ("id_rol") REFERENCES "rolpagos"("id_rol") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "rubrosxrol" ADD CONSTRAINT "fk_rubrosxr_rubrosxro_rubros" FOREIGN KEY ("id_rubros") REFERENCES "rubros"("id_rubros") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "ubicacion_producto" ADD CONSTRAINT "fk_ubicacio_ubicacion_percha" FOREIGN KEY ("id_percha") REFERENCES "percha"("id_percha") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "ubicacion_producto" ADD CONSTRAINT "fk_ubicacio_ubicacion_variante" FOREIGN KEY ("id_variante") REFERENCES "variantes_producto"("id_variante") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "usuarios" ADD CONSTRAINT "fk_usuarios_asociar2_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "vacaciones" ADD CONSTRAINT "fk_vacacion_goza_contrato" FOREIGN KEY ("id_contrato") REFERENCES "contrato"("id_contrato") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "variantes_producto" ADD CONSTRAINT "fk_variante_relations_colores" FOREIGN KEY ("id_color") REFERENCES "colores"("id_color") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "variantes_producto" ADD CONSTRAINT "fk_variante_relations_producto" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "variantes_producto" ADD CONSTRAINT "fk_variante_relations_tallas" FOREIGN KEY ("id_talla") REFERENCES "tallas"("id_talla") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "vendedores" ADD CONSTRAINT "fk_vendedor_es_empleado" FOREIGN KEY ("id_empleado") REFERENCES "empleados"("id_empleado") ON DELETE RESTRICT ON UPDATE RESTRICT;

